# Add any directories, files, or patterns you don't want to be tracked by version control

# macOS
.DS_Store
**/.DS_Store

# Windows
Thumbs.db
**/Thumbs.db

# App
node_modules/
platforms/
plugins/
www/lib/
package-hooks/
app-settings.json
.idea/
.io-config.json
*.apk
*.app.zip
*.ipa
www/js/control/collect-settings.js
www/js/control/sync-settings.js
www/js/control/transition-notify-settings.js
config.xml
package.json

# Tracemob
GoogleService-Info.plist
google-services.json
setup/tracemob/GoogleService-Info.plist
setup/tracemob/google-services.json
locales/
www/i18n/
!www/i18n/en.json
