<ion-modal-view translate-namespace="diary">
  <ion-header-bar class="bar bar-header bar-stable">
    <h1 class="title dark-color">{{'tracemob.trip-detail-popover.trip-details' | translate}}</h1>
    <button class="button button-mode-confirm-green button-primary" ng-click="tripDetailPopover.hide()">
        <i class="ion-close" style="color: white; padding: 5px"></i>
    </button>
  </ion-header-bar>
  <ion-content class="trip-details-popover-content">
    <center>
      <h3 class="title dark-color" style="textAlign: center;">{{currgj.display_date}}</h3>
    </center>
    <div class="row" style="padding-top: 10px !important; padding-bottom: 10px !important; padding-left: 20px !important; padding-right: 20px !important;">
        <div class="col-30">
            <div style="font-size: 1em; padding-top: 5px; padding-bottom: 5px;">{{currgj.display_start_time}}</div>
            <div style="font-size: 1em; padding-top: 5px; padding-bottom: 5px;">{{currgj.display_end_time}}</div>
        </div>
        <div class="col-70">
            <div ng-class="listLocationClass" id="no-border" href="#" style="background-color: transparent; font-size: 1em; padding-top: 5px; padding-bottom: 5px; padding-left: 30px; margin-top: 0; margin-bottom: 0;">
                <i class="icon ion-ios-location" style="font-size: 16px; left: 0; color: #33e0bb;"></i>
                    {{currgj.start_display_name}}
            </div>
            <div ng-class="listLocationClass" id="no-border" href="#" style="background-color: transparent; font-size: 1em; padding-top: 5px; padding-bottom: 5px; padding-left: 30px; margin-top: 0; margin-bottom: 0;">
                <i class="icon ion-ios-location" style="font-size: 16px; left: 0; color: #ff5251;"></i>
                {{currgj.end_display_name}}
            </div>
        </div>
    </div>
    <div class="row" style="padding-top: 10px !important; padding-bottom: 10px !important; padding-left: 20px !important; padding-right: 20px !important;">
        <div class="col" style="width: 30%; margin-top: 0; font-size: 1.1em; font-weight: thin;">
          <p style="font-size: 1.1em; color: #999999; margin-bottom: 0;" translate>{{'.distance'}}</p>
          {{currgj.display_distance}} km
        </div>
        <div class="col" style="width: 30%; margin-top: 0; font-size: 1.1em; font-weight: thin;">
          <p style="font-size: 1.1em; color: #999999; margin-bottom: 0;" translate>{{'.time'}}</p>
          {{currgj.display_time}}
        </div>
    </div>
    <leaflet geojson="currgj" id="detailPopoverMap" defaults="defaults" height="50%" width="calc(100% - 30px)"></leaflet>
  </ion-content>
</ion-modal-view>
